.resume-container {
    margin: 5rem auto 0;
    max-width: 90rem;
    padding: 5rem max(4%, 3rem) 0;
}

.resume-main {
    display: flex;
    height: 45rem;
}

/* 
Resume Icons
*/

.icon-container {
    display: flex;
    position: relative;
    width: 29rem;
    height: 100%;
    box-shadow: 12px 0 9px -15px #1f2235;
}

.icons {
    position: absolute;
    height: 100%;
    width: 3.5rem;
    background: #d4a418;
}

.icon-points {
    position: relative;
    z-index: 2;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.icon-points-resp {
    display: none;
}

.icon-point svg {
    font-size: 2rem;
    margin-right: 3rem;
    color: #fff;
}

.icon-point {
    z-index: 2;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.4rem;
    margin: 12px 0;
    padding: 0 8px;
    border-radius: 0 20px 20px 0;
    transition: width 0.4s ease;
}

.icon-point div {
    cursor: pointer;
    width: 2rem;
    margin-right: 3rem;
}

.icon-point span {
    cursor: pointer;
}

.icon-selected {
    width: 100%;
    background: #d4a418;
    color: var(--clr-white);
    justify-content: initial;
    animation: 0.4s all ease;
}

@keyframes width-inc {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.icon-point span {
    font-weight: 500;
}

/* 
Resume Details
*/

.resume-details {
    overflow-y: hidden;
    flex: 1;
}

.resume-icon-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0 2rem 3rem;
    justify-content: center;
}

.resume-content {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.details-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-head-left {
    color: var(--clr-primary);
    font-size: 1.5rem;
    letter-spacing: 0.1px;
    margin-left: 2.1rem;
    line-height: 20px;
}

.details-head-left:after {
    position: absolute;
    content: "";
    background: var(--clr-primary);
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.details-head-right {
    background: var(--clr-primary);
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--clr-white);
    min-width: 8.1rem;
    text-align: center;
}

.details-info {
    margin-top: 1.25rem;
    margin-left: 2.1rem;
    line-height: 20px;
}

.course {
    line-height: 20px;
}

@media (max-width: 768px) {
    .resume-main {
        height: 48rem;
        flex-direction: column;
        gap: 2rem;
    }

    .resume-details {
        height: 42rem;
    }

    .icon-container {
        height: 4rem;
        width: 100%;
    }

    .icons {
        display: none;
    }

    .icon-points {
        display: none;
    }

    .icon-points-resp {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .icon-point-resp {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 1rem;
    }

    .icon-point-resp svg {
        color: #000;
        width: 2rem;
        height: 2rem;
    }

    .icon-selected-resp {
        background: #d4a418;
    }

    .icon-selected-resp svg {
        color: #fff;
    }

    .resume-icon-details {
        padding: 2rem 0;
    }
}
