.skills-container {
  max-width: 130rem;
  margin: 10rem auto 0;
  padding: 0 max(4%, 3rem);
  padding-bottom: 10rem;
  background: #fff;
  border-bottom: 5px solid #f7f7f7;
}

.skills-bg {
  background: linear-gradient(to bottom, var(--clr-primary) 50%, #fff 50%);
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
}

.skill-heading {
  color: var(--clr-white);
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30rem;
  max-width: 35rem;
  margin-top: 3rem;
  background: var(--clr-white);
  padding: 4.25rem 3%;
  border-radius: 5px;
  box-shadow: 5px 4px 20px 0 rgba(0, 0, 0, 5%);
}

.skill-img {
  font-size: 3.5rem;
}

.skill-img svg {
  color: var(--clr-primary);
}

.skill-name {
  font-size: 1.8rem;
  margin: 2rem 0;
  font-weight: 500;
  text-align: center;
}

.skill-info {
  color: var(--clr-grey);
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.skill-tech-title {
  margin: 3rem 0;
  color: var(--clr-primary);
  font-size: 1.6rem;
  text-align: center;
}

.skill-tech {
  color: var(--clr-grey);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
