.proj-container {
  margin: 10rem 1rem 0;
}

.proj-card {
  margin: 0 2rem;
  margin: 0 1.3vw;
  height: 100%;
  justify-content: center;
  background-image: linear-gradient(315deg, #f5f9ff 0%, #fcfdff 74%);
}

.proj-card-wrapper {
  height: inherit;
  padding: 3.5rem;
  padding: 2.7vw;
}

.proj-name {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--clr-primary);
}

.proj-info {
  color: var(--clr-grey);
  line-height: 2rem;
}

.proj-tech-stack {
  letter-spacing: 0.2px;
  margin: 2.5rem 0 1.5rem;
  color: #465662;
}

.proj-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 0.25rem;
}

.proj-tool {
  height: fit-content;
  background: var(--clr-primary);
  color: var(--clr-white);
  font-size: 1.15rem;
  border-radius: 2px;
  padding: 6px 10px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}

.slick-dots {
  bottom: -5rem !important;
}
