.proj-container {
    margin: 5rem auto 0;
    max-width: 140rem;
    padding: 5rem max(4%, 3.5rem) 0;
}

.proj-card {
    margin: 0 auto;
    height: 100%;
    justify-content: center;
    background-image: linear-gradient(315deg, #f1f6ff 0%, #f9faff 60%);
    max-width: 38rem;
}

.proj-card-wrapper {
    height: inherit;
    padding: max(1.8rem, 2.1vw) max(2rem, 2.5vw);
}

.proj-card-main img {
    max-width: 38rem;
    position: absolute;
    z-index: -10;
    opacity: 0.25;
}

.proj-name {
    width: 100%;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0.75rem;
    color: var(--clr-primary);
}

.proj-title {
    font-weight: 400;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    color: #465662;
}

.proj-github {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    letter-spacing: 0.2px;
    color: #465662;
    gap: 6px;
}

.proj-github span {
    font-size: 1.5rem;
}

.proj-github a {
    font-size: 1.4rem;
    color: #4a4ab4;
}

.proj-github a:hover {
    text-decoration: underline;
}

.proj-name a {
    color: inherit;
}

.proj-info {
    color: var(--clr-grey);
    line-height: 2rem;
}

.proj-tech-stack {
    letter-spacing: 0.2px;
    margin: 2rem 0 1.5rem;
    color: #465662;
}

.proj-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 0.25rem;
}

.proj-tool {
    height: fit-content;
    background: var(--clr-primary);
    color: var(--clr-white);
    font-size: 1.15rem;
    border-radius: 2px;
    padding: 6px 10px;
}

.slick-track {
    display: flex !important;
    gap: 1.5rem !important;
}

.slick-slide {
    height: inherit !important;
}

.slick-slide > div {
    height: 100%;
}

.slick-dots {
    bottom: -6rem !important;
}

.slick-dots li button:before {
    font-size: 8px !important;
}
